<form autocomplete="off" novalidate [formGroup]="form">
  <h1>Register:</h1>
  <fieldset>
    <div>
      <label>Email</label>
      <input name="email" formControlName="email" type="email">
      <div *ngIf="isErrorVisible('email','required')">We'll need your e-mail address, please.</div>
      <div *ngIf="isErrorVisible('email','validEmail')">Please enter a valid e-mail address.</div>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" formControlName="password">
      <div *ngIf="isErrorVisible('password','required')">A password is required.</div>
    </div>
    <div>
      <label>Confirm Password</label>
      <input type="password" name="confirmPass" formControlName="confirmPass">
      <div *ngIf="isErrorVisible('confirmPass','required')">Please confirm your password.</div>
      <div *ngIf="!isPasswordMatch() && isControlDirty('confirmPass')">Oops! Your password does not match yet.</div>
    </div>
  </fieldset>
  <button (click)="register()" [disabled]="!isPasswordMatch() || !formValid()">Register</button>
</form>
