.flex-spacer {
	flex: 1 1 auto;
}

.main-nav {
	background-color: #667C89;
	.brand {
		margin-left: 20px;
	}

	span {
		cursor: pointer;
	}
	
	mat-icon {
		font-size: 16px;
		height: auto;
	}

	.nav-btns {
		margin-right: 20px;
	}

	.dropdown-btn {
		display: none;
	}
}

.utility-bar {
	justify-content: flex-start;
	background-color: #4A5A63;

	.utility-btns {
		margin-left: 20px;
	}

	h4 {
		font-size: 14px;
		margin-left: 20px;
	}
}


// Media queries
@media only screen and (max-width: 768px) {

	.main-nav {

		.brand {
			font-size: 18px;
			margin-left: 5px;
		}

		.nav-btns {
			display: none;
		}
	
		.dropdown-btn {
			display: block;
		}

		.utility-bar {
			 .utility-btns {
				 width: 100%;
				 margin-left: 0px;
					display: flex;
					justify-content: space-around;
					align-items: center;
				 button {
					 width: 20%;
					 span {
						 font-size: 12px;
					 }
					 mat-icon{
						 font-size: 12px;
					 }
				 }
			 }
		}
	}
	
	h4 {
		display: none;
	}
}




