<!-- LOGIN COMPONENT CONTAINER -->
<div class="login-container">
<!-- FORM -->
  <form autocomplete="off" novalidate [formGroup]="form">
    <!-- HEADER -->
    <h1>Login:</h1>
    <!-- FORM-CONTAINER -->
    <fieldset class="form-container">
      <!-- EMAIL INPUT FIELD -->
      <mat-form-field color="accent">
        <input matInput placeholder="Email" name="email" formControlName="email" type="email">
        <mat-error *ngIf="isErrorVisible('email','required')">We'll need your e-mail address, please.</mat-error>
        <mat-error *ngIf="isErrorVisible('email','validEmail')">Please enter a valid e-mail address.</mat-error>
      </mat-form-field>
      <!-- PASSWORD INPUT FIELD -->
      <mat-form-field color="accent">
        <input matInput placeholder="Password" type="password" name="password" formControlName="password">
        <mat-error *ngIf="isErrorVisible('password','required')">A password is required.</mat-error>
      </mat-form-field>
    </fieldset>
    <!-- REGISER BUTTON -->
    <button mat-raised-button (click)="login()" [disabled]="!formValid()">Login</button>
  </form>
</div>